docs/handover/automations/onboarding/ADMIN_INVITE_EMAIL.json
{
    "subflows": [
        {
            "flow": [
                {
                    "id": 1,
                    "module": "gateway:CustomWebHook",
                    "version": 1,
                    "parameters": {
                        "hook": 3251529,
                        "maxResults": 1
                    },
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 10,
                            "y": -1
                        },
                        "restore": {
                            "parameters": {
                                "hook": {
                                    "data": {
                                        "editable": "true"
                                    },
                                    "label": "Send Admin Password Page Link"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "hook",
                                "type": "hook:gateway-webhook",
                                "label": "Webhook",
                                "required": true
                            },
                            {
                                "name": "maxResults",
                                "type": "number",
                                "label": "Maximum number of results"
                            }
                        ]
                    }
                },
                {
                    "id": 2,
                    "module": "google-email:ActionSendEmail",
                    "version": 2,
                    "parameters": {
                        "account": 1130782
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "{{1.email}}"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  <head>\r\n    <meta charset=\"utf-8\" />\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\r\n    <title>Admin Invitation</title>\r\n    <!-- Preheader (hidden in most clients) -->\r\n    <style>\r\n      .preheader { display:none !important; visibility:hidden; opacity:0; color:transparent; height:0; width:0; overflow:hidden; mso-hide:all; }\r\n    </style>\r\n  </head>\r\n  <body style=\"margin:0; padding:0; background-color:#f5f7fb;\">\r\n    <div class=\"preheader\">\r\n      Set your password to activate your admin access.\r\n    </div>\r\n\r\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background-color:#f5f7fb; padding:24px 0;\">\r\n      <tr>\r\n        <td align=\"center\">\r\n          <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px; max-width:600px; background:#ffffff; border-radius:8px; overflow:hidden; border:1px solid #e6e9ef; font-family:Arial, Helvetica, sans-serif;\">\r\n            <!-- Header -->\r\n            <tr>\r\n              <td style=\"padding:20px 24px; background:#0b5fff; color:#ffffff; font-size:18px; font-weight:bold;\">\r\n                Admin Access Invitation\r\n              </td>\r\n            </tr>\r\n\r\n            <!-- Body -->\r\n            <tr>\r\n              <td style=\"padding:24px;\">\r\n                <p style=\"margin:0 0 12px; font-size:16px; line-height:1.5; color:#111827;\">\r\n                  Hi {{1.name}},\r\n                </p>\r\n                <p style=\"margin:0 0 16px; font-size:14px; line-height:1.6; color:#374151;\">\r\n                  You’ve been invited to join our platform as an <strong>Admin</strong>. To activate your account, please set your password using the link below.\r\n                </p>\r\n\r\n                <!-- Button -->\r\n                <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:20px 0;\">\r\n                  <tr>\r\n                    <td align=\"center\">\r\n                      <a href=\"{{1.inviteLink}}\" target=\"_blank\"\r\n                         style=\"display:inline-block; padding:12px 20px; background:#0b5fff; color:#ffffff; text-decoration:none; border-radius:6px; font-size:14px; font-weight:bold;\">\r\n                        Set Your Password\r\n                      </a>\r\n                    </td>\r\n                  </tr>\r\n                </table>\r\n\r\n                <!-- Fallback link -->\r\n                <p style=\"margin:0 0 16px; font-size:12px; line-height:1.6; color:#6b7280;\">\r\n                  If the button doesn’t work, copy and paste this link into your browser:\r\n                  <br />\r\n                  <a href=\"{{1.inviteLink}}\" target=\"_blank\" style=\"color:#0b5fff; word-break:break-all;\">{{1.inviteLink}}</a>\r\n                </p>\r\n\r\n                <!-- Notes -->\r\n                <p style=\"margin:16px 0 0; font-size:12px; line-height:1.6; color:#6b7280;\">\r\n                  For security, this link may expire. If it has, reply to this email and we’ll send a new one.\r\n                </p>\r\n              </td>\r\n            </tr>\r\n\r\n            <!-- Footer -->\r\n            <tr>\r\n              <td style=\"padding:16px 24px; background:#f9fafb; border-top:1px solid #e6e9ef;\">\r\n                <p style=\"margin:0; font-size:12px; color:#6b7280; line-height:1.5;\">\r\n                  Need help? Reply to this message or contact our support team.\r\n                </p>\r\n              </td>\r\n            </tr>\r\n          </table>\r\n\r\n          <!-- Small print -->\r\n          <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px; max-width:600px; margin-top:12px; font-family:Arial, Helvetica, sans-serif;\">\r\n            <tr>\r\n              <td align=\"center\" style=\"font-size:11px; color:#9ca3af;\">\r\n                You’re receiving this because an admin created an account for you.\r\n              </td>\r\n            </tr>\r\n          </table>\r\n\r\n        </td>\r\n      </tr>\r\n    </table>\r\n  </body>\r\n</html>\r\n",
                        "subject": "testing",
                        "attachments": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 322,
                            "y": -2
                        },
                        "restore": {
                            "expect": {
                                "cc": {
                                    "mode": "chose"
                                },
                                "to": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "bcc": {
                                    "mode": "chose"
                                },
                                "attachments": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "account": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google-restricted"
                                    },
                                    "label": "Flow Fusion Gmail (sauravkc@flowfusionai.com)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account:google-restricted",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "to",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient"
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 4,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\"success\":false, \"error\":\"{{2.error.message}}\"}",
                                "status": "500",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 622,
                                    "y": 148
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "id": 3,
                    "module": "gateway:WebhookRespond",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "body": "{\"success\": true, \"messageId\": \"{{2.messageId}}\"}",
                        "status": "200",
                        "headers": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 622,
                            "y": -152,
                            "name": "Email Sent"
                        },
                        "restore": {
                            "expect": {
                                "headers": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "status",
                                "type": "uinteger",
                                "label": "Status",
                                "required": true,
                                "validate": {
                                    "min": 100
                                }
                            },
                            {
                                "name": "body",
                                "type": "any",
                                "label": "Body"
                            },
                            {
                                "name": "headers",
                                "spec": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true,
                                        "validate": {
                                            "max": 4096
                                        }
                                    }
                                ],
                                "type": "array",
                                "label": "Custom headers",
                                "validate": {
                                    "maxItems": 16
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "version": 1
    }
}