docs/handover/automations/onboarding/CUSTOM_EMAIL.json
{
    "subflows": [
        {
            "flow": [
                {
                    "id": 1,
                    "module": "gateway:CustomWebHook",
                    "version": 1,
                    "parameters": {
                        "hook": 2922623,
                        "maxResults": 1
                    },
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": -288,
                            "y": 157
                        },
                        "restore": {
                            "parameters": {
                                "hook": {
                                    "data": {
                                        "editable": "true"
                                    },
                                    "label": "Send New Hire Email Notifications"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "hook",
                                "type": "hook:gateway-webhook",
                                "label": "Webhook",
                                "required": true
                            },
                            {
                                "name": "maxResults",
                                "type": "number",
                                "label": "Maximum number of results"
                            }
                        ]
                    }
                },
                {
                    "id": 11,
                    "module": "regexp:Replace",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "text": "{{1.email.body}}",
                        "value": "<br>",
                        "global": true,
                        "pattern": "\\n",
                        "multiline": false,
                        "sensitive": true,
                        "singleline": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 16,
                            "y": 160,
                            "name": "Replace \\n with <br>"
                        },
                        "restore": {
                            "expect": {
                                "global": {
                                    "mode": "chose"
                                },
                                "multiline": {
                                    "mode": "chose"
                                },
                                "sensitive": {
                                    "mode": "chose"
                                },
                                "singleline": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "New value"
                            },
                            {
                                "name": "global",
                                "type": "boolean",
                                "label": "Global match",
                                "required": true
                            },
                            {
                                "name": "sensitive",
                                "type": "boolean",
                                "label": "Case sensitive",
                                "required": true
                            },
                            {
                                "name": "multiline",
                                "type": "boolean",
                                "label": "Multiline",
                                "required": true
                            },
                            {
                                "name": "singleline",
                                "type": "boolean",
                                "label": "Singleline",
                                "required": true
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ]
                    }
                },
                {
                    "id": 3,
                    "module": "builtin:BasicFeeder",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "array": "{{1.recipients}}"
                    },
                    "metadata": {
                        "designer": {
                            "x": 300,
                            "y": 150
                        },
                        "restore": {
                            "expect": {
                                "array": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "expect": [
                            {
                                "mode": "edit",
                                "name": "array",
                                "spec": [],
                                "type": "array",
                                "label": "Array"
                            }
                        ]
                    }
                },
                {
                    "id": 2,
                    "module": "google-email:ActionSendEmail",
                    "version": 2,
                    "parameters": {
                        "account": 1545323
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "{{3.email}}"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "{{11.text}}",
                        "subject": "{{1.email.subject}}",
                        "attachments": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 150
                        },
                        "restore": {
                            "expect": {
                                "cc": {
                                    "mode": "chose"
                                },
                                "to": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "bcc": {
                                    "mode": "chose"
                                },
                                "attachments": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "account": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google-restricted"
                                    },
                                    "label": "Recruitment (recruitment@smilecliniq.com)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account:google-restricted",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "to",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient"
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 5,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\n  \"success\": false,\n  \"error\": \"{{2.error.message}}\"\n}",
                                "status": "500",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "id": 4,
                    "module": "gateway:WebhookRespond",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "body": "{\n  \"success\": true,\n  \"messageId\": \"{{2.messageId}}\"\n}",
                        "status": "200",
                        "headers": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "headers": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "status",
                                "type": "uinteger",
                                "label": "Status",
                                "required": true,
                                "validate": {
                                    "min": 100
                                }
                            },
                            {
                                "name": "body",
                                "type": "any",
                                "label": "Body"
                            },
                            {
                                "name": "headers",
                                "spec": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true,
                                        "validate": {
                                            "max": 256
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true,
                                        "validate": {
                                            "max": 4096
                                        }
                                    }
                                ],
                                "type": "array",
                                "label": "Custom headers",
                                "validate": {
                                    "maxItems": 16
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "version": 1
    }
}