docs/handover/automations/onboarding/PASSWORD_RESET_EMAIL.json
{
    "subflows": [
        {
            "flow": [
                {
                    "id": 1,
                    "module": "gateway:CustomWebHook",
                    "version": 1,
                    "parameters": {
                        "hook": 1895630,
                        "maxResults": 1
                    },
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 0,
                            "y": 150
                        },
                        "restore": {
                            "parameters": {
                                "hook": {
                                    "data": {
                                        "editable": "true"
                                    },
                                    "label": "Onboarding: Reset Password"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "hook",
                                "type": "hook:gateway-webhook",
                                "label": "Webhook",
                                "required": true
                            },
                            {
                                "name": "maxResults",
                                "type": "number",
                                "label": "Maximum number of results"
                            }
                        ]
                    }
                },
                {
                    "id": 2,
                    "module": "builtin:BasicRouter",
                    "version": 1,
                    "mapper": null,
                    "metadata": {
                        "designer": {
                            "x": 300,
                            "y": 150
                        }
                    },
                    "routes": [
                        {
                            "flow": [
                                {
                                    "id": 3,
                                    "module": "gateway:WebhookRespond",
                                    "version": 1,
                                    "parameters": {},
                                    "filter": {
                                        "name": "Invalid Request",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{1.email}}",
                                                    "o": "notexist"
                                                },
                                                {
                                                    "a": "{{1.resetToken}}",
                                                    "o": "notexist"
                                                }
                                            ]
                                        ]
                                    },
                                    "mapper": {
                                        "body": "{\n  \"error\": \"Missing required parameters: email or resetToken\"\n}",
                                        "status": "400",
                                        "headers": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 600,
                                            "y": 0
                                        },
                                        "restore": {
                                            "expect": {
                                                "headers": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "status",
                                                "type": "uinteger",
                                                "label": "Status",
                                                "required": true,
                                                "validate": {
                                                    "min": 100
                                                }
                                            },
                                            {
                                                "name": "body",
                                                "type": "any",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "headers",
                                                "spec": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 256
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 4096
                                                        }
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Custom headers",
                                                "validate": {
                                                    "maxItems": 16
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "flow": [
                                {
                                    "id": 5,
                                    "module": "util:SetVariable2",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "name": "base",
                                        "scope": "roundtrip",
                                        "value": "https://onboarding-task-manager.vercel.app"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 600,
                                            "y": 300,
                                            "name": "Base URL"
                                        },
                                        "restore": {
                                            "expect": {
                                                "scope": {
                                                    "label": "One cycle"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "scope",
                                                "type": "select",
                                                "label": "Variable lifetime",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "roundtrip",
                                                        "execution"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "base",
                                                "type": "any",
                                                "label": "base"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 6,
                                    "module": "util:SetVariable2",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "name": "url",
                                        "scope": "roundtrip",
                                        "value": "{{5.base}}/reset-password?token={{1.resetToken}}"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 900,
                                            "y": 300,
                                            "name": "Full URL"
                                        },
                                        "restore": {
                                            "expect": {
                                                "scope": {
                                                    "label": "One cycle"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "scope",
                                                "type": "select",
                                                "label": "Variable lifetime",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "roundtrip",
                                                        "execution"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "url",
                                                "type": "any",
                                                "label": "url"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 13,
                                    "module": "regexp:Parser",
                                    "version": 1,
                                    "parameters": {
                                        "global": false,
                                        "pattern": "^(\\d+)([smhd])$",
                                        "multiline": false,
                                        "sensitive": true,
                                        "singleline": false,
                                        "continueWhenNoRes": false
                                    },
                                    "mapper": {
                                        "text": "{{1.expiresIn}}"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 300
                                        },
                                        "restore": {},
                                        "parameters": [
                                            {
                                                "name": "pattern",
                                                "type": "text",
                                                "label": "Pattern",
                                                "required": true
                                            },
                                            {
                                                "name": "global",
                                                "type": "boolean",
                                                "label": "Global match",
                                                "required": true
                                            },
                                            {
                                                "name": "sensitive",
                                                "type": "boolean",
                                                "label": "Case sensitive",
                                                "required": true
                                            },
                                            {
                                                "name": "multiline",
                                                "type": "boolean",
                                                "label": "Multiline",
                                                "required": true
                                            },
                                            {
                                                "name": "singleline",
                                                "type": "boolean",
                                                "label": "Singleline",
                                                "required": true
                                            },
                                            {
                                                "name": "continueWhenNoRes",
                                                "type": "boolean",
                                                "label": "Continue the execution of the route even if the module finds no matches",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "$1",
                                                "type": "text",
                                                "label": "$1"
                                            },
                                            {
                                                "name": "$2",
                                                "type": "text",
                                                "label": "$2"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 14,
                                    "module": "util:SetVariable2",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "name": "time",
                                        "scope": "roundtrip",
                                        "value": "{{if(13.`$2` = \"s\"; \"second(s)\"; if(13.`$2` = \"m\"; \"minute(s)\"; if(13.`$2` = \"h\"; \"hour(s)\"; if(13.`$2` = \"d\"; \"day(s)\"; \"unknown unit\"))))}}"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1500,
                                            "y": 300
                                        },
                                        "restore": {
                                            "expect": {
                                                "scope": {
                                                    "label": "One cycle"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "scope",
                                                "type": "select",
                                                "label": "Variable lifetime",
                                                "required": true,
                                                "validate": {
                                                    "enum": [
                                                        "roundtrip",
                                                        "execution"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "interface": [
                                            {
                                                "name": "time",
                                                "type": "any",
                                                "label": "time"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 4,
                                    "module": "google-email:ActionSendEmail",
                                    "version": 2,
                                    "parameters": {
                                        "account": 1545323
                                    },
                                    "mapper": {
                                        "cc": [],
                                        "to": [
                                            "{{1.email}}"
                                        ],
                                        "bcc": [],
                                        "from": "",
                                        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Reset Your Password</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f4f7fa; color: #333333;\">\n    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f4f7fa; padding: 20px;\">\n        <tr>\n            <td align=\"center\">\n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); overflow: hidden; margin: 0 auto;\">\n                    <!-- Header -->\n                    <tr>\n                        <td style=\"padding: 35px 0; text-align: center; background-color: #4f46e5; background-image: linear-gradient(135deg, #4f46e5 0%, #6366f1 100%);\">\n                            <h1 style=\"margin: 0; font-size: 28px; line-height: 1.3; color: #FFFFFF; font-weight: 700; letter-spacing: 0.5px; text-shadow: 0 1px 2px rgba(0,0,0,0.2);\">Reset Your Password</h1>\n                        </td>\n                    </tr>\n                    \n                    <!-- Content -->\n                    <tr>\n                        <td style=\"padding: 40px 30px;\">\n                            <p style=\"margin: 0 0 20px; font-size: 16px; line-height: 1.5; color: #555555;\">\n                                We received a request to reset your password. If you didn't make this request, you can safely ignore this email.\n                            </p>\n                            \n                            <p style=\"margin: 0 0 30px; font-size: 16px; line-height: 1.5; color: #555555;\">\n                                To reset your password, click the button below:\n                            </p>\n                            \n                            <!-- Button -->\n                            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n                                <tr>\n                                    <td align=\"center\" style=\"padding: 20px 0 30px;\">\n                                        <a href=\"{{6.url}}\" target=\"_blank\" style=\"display: inline-block; background-color: #4f46e5; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; padding: 12px 30px; border-radius: 4px; text-align: center; transition: background-color 0.3s ease; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n                                            Reset Password\n                                        </a>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <p style=\"margin: 0 0 10px; font-size: 16px; line-height: 1.5; color: #555555;\">\n                                This password reset link will expire in <b>{{13.`$1`}} {{13.`$2`}}</b>.\n                            </p>\n                            \n                            <p style=\"margin: 0; font-size: 16px; line-height: 1.5; color: #555555;\">\n                                If you have any questions, please contact your manager or supervisor.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"padding: 20px 30px; background-color: #f8f9fa; border-top: 1px solid #eeeeee; text-align: center;\">\n                            <p style=\"margin: 0 0 10px; font-size: 14px; line-height: 1.5; color: #777777;\">\n                                Smile Cliniq\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n                \n                <!-- Unsubscribe -->\n                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"600\" style=\"margin: 20px auto 0;\">\n                    <tr>\n                        <td style=\"text-align: center; font-size: 12px; line-height: 1.5; color: #999999;\">\n                            <p style=\"margin: 0;\">\n                                This is an automated email, please do not reply.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
                                        "subject": "SC- Password Reset",
                                        "attachments": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": 300
                                        },
                                        "restore": {
                                            "expect": {
                                                "cc": {
                                                    "mode": "chose"
                                                },
                                                "to": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "bcc": {
                                                    "mode": "chose"
                                                },
                                                "attachments": {
                                                    "mode": "chose"
                                                }
                                            },
                                            "parameters": {
                                                "account": {
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "google-restricted"
                                                    },
                                                    "label": "Recruitment (recruitment@smilecliniq.com)"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "account",
                                                "type": "account:google-restricted",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "from",
                                                "type": "text",
                                                "label": "From"
                                            },
                                            {
                                                "name": "to",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address",
                                                    "required": true
                                                },
                                                "type": "array",
                                                "label": "To",
                                                "required": true
                                            },
                                            {
                                                "name": "subject",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "html",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "attachments",
                                                "spec": [
                                                    {
                                                        "name": "fileName",
                                                        "type": "filename",
                                                        "label": "File name",
                                                        "required": true,
                                                        "semantic": "file:name"
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Data",
                                                        "required": true,
                                                        "semantic": "file:data"
                                                    },
                                                    {
                                                        "name": "cid",
                                                        "type": "text",
                                                        "label": "Content-ID"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Attachments"
                                            },
                                            {
                                                "name": "cc",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address"
                                                },
                                                "type": "array",
                                                "label": "Copy recipient"
                                            },
                                            {
                                                "name": "bcc",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address"
                                                },
                                                "type": "array",
                                                "label": "Blind copy recipient"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 7,
                                    "module": "gateway:WebhookRespond",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "body": "",
                                        "status": "200",
                                        "headers": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2100,
                                            "y": 300
                                        },
                                        "restore": {
                                            "expect": {
                                                "headers": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "status",
                                                "type": "uinteger",
                                                "label": "Status",
                                                "required": true,
                                                "validate": {
                                                    "min": 100
                                                }
                                            },
                                            {
                                                "name": "body",
                                                "type": "any",
                                                "label": "Body"
                                            },
                                            {
                                                "name": "headers",
                                                "spec": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 256
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 4096
                                                        }
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Custom headers",
                                                "validate": {
                                                    "maxItems": 16
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1
    }
}