docs/handover/automations/applications/SEND_FIRST_INTERVIEW_INVITE.json
{
    "subflows": [
        {
            "flow": [
                {
                    "id": 8,
                    "module": "gateway:CustomWebHook",
                    "version": 1,
                    "parameters": {
                        "hook": 460937,
                        "maxResults": 1
                    },
                    "mapper": {},
                    "metadata": {
                        "designer": {
                            "x": 0,
                            "y": 300
                        },
                        "restore": {
                            "parameters": {
                                "hook": {
                                    "data": {
                                        "editable": "true"
                                    },
                                    "label": "airtable_task_webhook"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "hook",
                                "type": "hook:gateway-webhook",
                                "label": "Webhook",
                                "required": true
                            },
                            {
                                "name": "maxResults",
                                "type": "number",
                                "label": "Maximum number of results"
                            }
                        ],
                        "interface": [
                            {
                                "name": "name",
                                "type": "text"
                            },
                            {
                                "name": "email",
                                "type": "text"
                            },
                            {
                                "name": "location",
                                "type": "text"
                            },
                            {
                                "name": "interviewer",
                                "type": "text"
                            }
                        ]
                    }
                },
                {
                    "id": 20,
                    "module": "util:SetVariables",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "scope": "roundtrip",
                        "variables": [
                            {
                                "name": "interviewer_record_id",
                                "value": "{{first(split(8.interviewer; \",\"))}}"
                            },
                            {
                                "name": "recruitment_email",
                                "value": "recruitment@smilecliniq.com"
                            }
                        ]
                    },
                    "metadata": {
                        "designer": {
                            "x": 300,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "scope": {
                                    "label": "One cycle"
                                },
                                "variables": {
                                    "items": [
                                        null,
                                        null
                                    ]
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "variables",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "type": "array",
                                "label": "Variables"
                            },
                            {
                                "name": "scope",
                                "type": "select",
                                "label": "Variable lifetime",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "roundtrip",
                                        "execution"
                                    ]
                                }
                            }
                        ],
                        "interface": [
                            {
                                "name": "interviewer_record_id",
                                "type": "any",
                                "label": "interviewer_record_id"
                            },
                            {
                                "name": "recruitment_email",
                                "type": "any",
                                "label": "recruitment_email"
                            }
                        ]
                    }
                },
                {
                    "id": 18,
                    "module": "email:ActionSendEmail",
                    "version": 7,
                    "parameters": {
                        "account": 1545323,
                        "saveAfterSent": false
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "{{20.recruitment_email}}"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "<h2>Applicant Details</h2>\n<p>Name: {{8.name}}</p>\n<p>Email: {{8.email}}</p>\n<p>Stage: {{8.stage}}</p>\n<p>Applying For: {{8.jobName}}</p>\n<br/>\n<p>Phone: {{8.phone}}</p>\n<p>Address: {{8.address}}</p>\n<p>Post Code: {{8.postcode}}</p>",
                        "sender": "",
                        "headers": [],
                        "replyTo": "",
                        "subject": "Applicant Status Change - {{8.name}}: {{8.stage}}",
                        "priority": "normal",
                        "inReplyTo": "",
                        "references": [],
                        "attachments": [],
                        "contentType": "html"
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 300,
                            "name": "Send Status Change Email"
                        },
                        "restore": {
                            "expect": {
                                "cc": {
                                    "mode": "chose"
                                },
                                "to": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "bcc": {
                                    "mode": "chose"
                                },
                                "priority": {
                                    "label": "Normal"
                                },
                                "references": {
                                    "mode": "chose"
                                },
                                "attachments": {
                                    "mode": "chose"
                                },
                                "contentType": {
                                    "label": "HTML"
                                }
                            },
                            "parameters": {
                                "account": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google-restricted"
                                    },
                                    "label": "Recruitment (recruitment@smilecliniq.com)"
                                },
                                "saveAfterSent": {
                                    "label": "No"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                "label": "Connection",
                                "required": true
                            },
                            {
                                "name": "saveAfterSent",
                                "type": "select",
                                "label": "Save message after sending",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        true,
                                        false
                                    ]
                                }
                            }
                        ],
                        "expect": [
                            {
                                "name": "to",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Content Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "html",
                                        "text"
                                    ]
                                }
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient"
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient"
                            },
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "sender",
                                "type": "text",
                                "label": "Sender"
                            },
                            {
                                "name": "replyTo",
                                "type": "text",
                                "label": "Reply-To"
                            },
                            {
                                "name": "inReplyTo",
                                "type": "text",
                                "label": "In-Reply-To"
                            },
                            {
                                "name": "references",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Reference",
                                    "required": true
                                },
                                "type": "array",
                                "label": "References"
                            },
                            {
                                "name": "priority",
                                "type": "select",
                                "label": "Priority",
                                "validate": {
                                    "enum": [
                                        "high",
                                        "normal",
                                        "low"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "spec": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 19,
                            "module": "builtin:Break",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "count": "1",
                                "retry": true,
                                "interval": "15"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 601,
                                    "y": -7
                                },
                                "restore": {
                                    "expect": {
                                        "retry": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "retry",
                                        "type": "boolean",
                                        "label": "Automatically complete execution",
                                        "required": true
                                    },
                                    {
                                        "name": "count",
                                        "type": "uinteger",
                                        "label": "Number of attempts",
                                        "required": true,
                                        "validate": {
                                            "max": 10000,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "interval",
                                        "type": "uinteger",
                                        "label": "Interval between attempts",
                                        "required": true,
                                        "validate": {
                                            "max": 44640,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "id": 4,
                    "module": "airtable:ActionGetRecord",
                    "version": 3,
                    "parameters": {
                        "__IMTCONN__": 1129955
                    },
                    "mapper": {
                        "id": "{{20.interviewer_record_id}}",
                        "base": "appZ4QT8rXFlX6LrZ",
                        "table": "tblfXqkA0Cna59UUk",
                        "useColumnId": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 929,
                            "y": 296,
                            "name": "Get Interviewer Link"
                        },
                        "restore": {
                            "expect": {
                                "base": {
                                    "mode": "chose",
                                    "label": "Application Tracking System"
                                },
                                "table": {
                                    "mode": "chose",
                                    "label": "Staff"
                                },
                                "useColumnId": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "airtable2"
                                    },
                                    "label": "Smile Cliniq - ATS"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:airtable3,airtable2",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "base",
                                "type": "select",
                                "label": "Base",
                                "required": true
                            },
                            {
                                "name": "useColumnId",
                                "type": "boolean",
                                "label": "Use Column ID",
                                "required": true
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Record ID",
                                "required": true
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "createdTime",
                                "type": "date",
                                "label": "Created Time"
                            },
                            {
                                "name": "Name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "Email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "Slack ID",
                                "type": "text",
                                "label": "Slack ID"
                            },
                            {
                                "name": "Cal Link - First Interview",
                                "type": "text",
                                "label": "Cal Link - First Interview"
                            },
                            {
                                "name": "Cal Link - Second Interview",
                                "type": "text",
                                "label": "Cal Link - Second Interview"
                            },
                            {
                                "name": "Record Id",
                                "type": "text",
                                "label": "Record Id"
                            },
                            {
                                "name": "Hiring For",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Hiring For"
                            },
                            {
                                "name": "Assigned Applicants",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Assigned Applicants"
                            },
                            {
                                "name": "Total Interviewed",
                                "type": "array",
                                "label": "Total Interviewed"
                            },
                            {
                                "name": "Feeedback",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Feeedback"
                            },
                            {
                                "name": "Tasks",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Tasks"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 34,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "base_url",
                                "scope": "roundtrip",
                                "value": "https://cal.com/sc-manager/interview"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1213,
                                    "y": -4,
                                    "name": "Base URL"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "base_url",
                                        "type": "any",
                                        "label": "base_url"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "location_name",
                                "scope": "roundtrip",
                                "value": "{{replace(8.location; \" Branch\"; emptystring)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1515,
                                    "y": -12,
                                    "name": "Clean Location Name 1"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "location_name",
                                        "type": "any",
                                        "label": "location_name"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 36,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "location_name",
                                "scope": "roundtrip",
                                "value": "{{lower(replace(35.location_name; space; \"-\"))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1804,
                                    "y": -20,
                                    "name": "Clean Location Name 2"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "location_name",
                                        "type": "any",
                                        "label": "location_name"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 37,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "cal_link",
                                "scope": "roundtrip",
                                "value": "{{34.base_url}}-{{36.location_name}}?name={{8.name}}&email={{8.email}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2104,
                                    "y": -20,
                                    "name": "Create Full Interview Link"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "cal_link",
                                        "type": "any",
                                        "label": "cal_link"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 42,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "disc_link",
                                "scope": "roundtrip",
                                "value": "https://www.tonyrobbins.com/disc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2405,
                                    "y": -20,
                                    "name": "DISC Assessment Link"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "disc_link",
                                        "type": "any",
                                        "label": "disc_link"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 47,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1129955
                            },
                            "mapper": {
                                "base": "appZ4QT8rXFlX6LrZ",
                                "table": "tbl4ldFExsS5hWR3L",
                                "fields": [
                                    "Personalised DISC Form Link"
                                ],
                                "formula": "{Email}=\"{{8.email}}\"",
                                "maxRecords": "1",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2716,
                                    "y": -23,
                                    "name": "Get Personalised DISC Form Link"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Application Tracking System"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Applicants"
                                        },
                                        "fields": {
                                            "mode": "chose",
                                            "label": [
                                                "Personalised DISC Form Link"
                                            ]
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "Smile Cliniq - ATS"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Personalised DISC Form Link",
                                        "type": "text",
                                        "label": "Personalised DISC Form Link"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 48,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 1545323,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{8.email}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "<!DOCTYPE html>\n<html>\n   <head>\n      <meta charset=\"utf-8\">\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n      <title>Interview Invitation</title>\n      <style type=\"text/css\">\n         /* Reset styles for email clients */\n         body, p {\n         margin: 0;\n         padding: 0;\n         font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\n         line-height: 1.6;\n         }\n         /* Container styles */\n         .container {\n         width: 100%;\n         max-width: 600px;\n         margin: 0 auto;\n         background-color: #ffffff;\n         padding: 40px 20px;\n         }\n         .content {\n         background-color: #ffffff;\n         border-radius: 8px;\n         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);\n         padding: 32px;\n         border: 1px solid #e5e7eb;\n         }\n         /* Typography */\n         p {\n         color: #374151;\n         font-size: 16px;\n         margin-bottom: 16px;\n         }\n         .greeting {\n         font-size: 18px;\n         font-weight: 600;\n         color: #111827;\n         margin-bottom: 24px;\n         }\n         .highlight {\n         color: #111827;\n         font-weight: 600;\n         }\n         /* Steps styling */\n         .step {\n         margin: 32px 0;\n         padding: 24px;\n         background-color: #f8fafc;\n         border-radius: 8px;\n         border: 1px solid #e5e7eb;\n         }\n         .step-number {\n         display: inline-block;\n         width: 24px;\n         height: 24px;\n         background-color: #0066FF;\n         color: white;\n         border-radius: 50%;\n         text-align: center;\n         font-weight: bold;\n         margin-right: 8px;\n         line-height: 24px;\n         font-size: 14px;\n         }\n         .step-title {\n         font-size: 16px;\n         font-weight: 600;\n         color: #111827;\n         margin-bottom: 16px;\n         display: flex;\n         align-items: center;\n         }\n         /* Button styles */\n         .button {\n         display: inline-block;\n         padding: 12px 24px;\n         background-color: #0066FF;\n         color: #ffffff !important;\n         text-decoration: none;\n         border-radius: 6px;\n         font-weight: 600;\n         margin-top: 16px;\n         box-shadow: 0 2px 4px rgba(0, 102, 255, 0.1);\n         }\n         .button:hover {\n         background-color: #0052CC;\n         }\n         .button-secondary {\n         background-color: #6B7280;\n         }\n         .button-secondary:hover {\n         background-color: #4B5563;\n         }\n         /* Footer styles */\n         .footer {\n         text-align: center;\n         padding-top: 32px;\n         margin-top: 32px;\n         border-top: 1px solid #e5e7eb;\n         }\n         .footer p {\n         color: #6B7280;\n         font-size: 14px;\n         }\n         .signature {\n         margin: 24px 0;\n         }\n         /* Location badge */\n         .location-badge {\n         display: inline-block;\n         background-color: #f3f4f6;\n         padding: 8px 16px;\n         border-radius: 4px;\n         margin: 8px 0;\n         }\n         /* Responsive design */\n         @media screen and (max-width: 600px) {\n         .container {\n         padding: 20px 16px;\n         }\n         .content {\n         padding: 24px 16px;\n         }\n         .step {\n         padding: 16px;\n         }\n         }\n      </style>\n   </head>\n   <body style=\"background-color: #f3f4f6; margin: 0; padding: 0;\">\n      <div class=\"container\">\n         <div class=\"content\">\n            <p class=\"greeting\">Hi {{8.name}},</p>\n            <p>Thank you for your recent application. We are pleased to invite you to an interview with us.</p>\n            <div class=\"location-badge\">\n               <span class=\"highlight\">Location: {{8.location}}</span>\n            </div>\n            <p>Please complete the following steps to proceed with your interview:</p>\n            <div class=\"step\">\n               <div class=\"step-title\">\n                  <span class=\"step-number\">1</span>\n                  Complete DISC Assessment\n               </div>\n               <p>First, take our brief DISC assessment. This helps us understand your working style and tailor our discussion accordingly.</p>\n               <a href=\"{{42.disc_link}}\" class=\"button\">Start DISC Assessment</a>\n            </div>\n            <div class=\"step\">\n               <div class=\"step-title\">\n                  <span class=\"step-number\">2</span>\n                  Upload Assessment Results\n               </div>\n               <p>Once you've completed the assessment, upload your PDF results here.</p>\n               <a href=\"{{47.`Personalised DISC Form Link`}}\" class=\"button button-secondary\">Upload DISC PDF</a>\n            </div>\n            <div class=\"step\">\n               <div class=\"step-title\">\n                  <span class=\"step-number\">3</span>\n                  Schedule Your Interview\n               </div>\n               <p>After uploading your results, choose an interview time that works best for you.</p>\n               <a href=\"{{37.cal_link}}\" class=\"button button-secondary\">Schedule Interview</a>\n            </div>\n            <p>We look forward to meeting you and learning more about your potential contribution to our team!</p>\n            <div class=\"signature\">\n               <p>Kind Regards,</p>\n               <p class=\"highlight\">Smile Cliniq Hiring Team</p>\n            </div>\n            <div class=\"footer\">\n               <p>Smile Cliniq</p>\n            </div>\n         </div>\n      </div>\n   </body>\n</html>",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Applicantion Update - Smile Cliniq",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3037,
                                    "y": -23,
                                    "name": "Send Interview Invite"
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "Recruitment (recruitment@smilecliniq.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 49,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "1",
                                        "retry": true,
                                        "interval": "15"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 3340,
                                            "y": -27
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "id": 14,
                    "module": "util:SetVariable2",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "name": "location_name",
                        "scope": "roundtrip",
                        "value": "{{replace(8.location; \" Branch\"; emptystring)}}"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1231,
                            "y": 299,
                            "name": "Clean Location Name 1"
                        },
                        "restore": {
                            "expect": {
                                "scope": {
                                    "label": "One cycle"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "scope",
                                "type": "select",
                                "label": "Variable lifetime",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "roundtrip",
                                        "execution"
                                    ]
                                }
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "interface": [
                            {
                                "name": "location_name",
                                "type": "any",
                                "label": "location_name"
                            }
                        ]
                    }
                },
                {
                    "id": 15,
                    "module": "util:SetVariable2",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "name": "location_name",
                        "scope": "roundtrip",
                        "value": "{{lower(replace(14.location_name; space; \"-\"))}}"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1520,
                            "y": 291,
                            "name": "Clean Location Name 2"
                        },
                        "restore": {
                            "expect": {
                                "scope": {
                                    "label": "One cycle"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "scope",
                                "type": "select",
                                "label": "Variable lifetime",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "roundtrip",
                                        "execution"
                                    ]
                                }
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ]
                    }
                },
                {
                    "id": 5,
                    "module": "util:SetVariable2",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "name": "cal_link",
                        "scope": "roundtrip",
                        "value": "{{4.`Cal Link - First Interview`}}-{{15.location_name}}?name={{8.name}}&email={{8.email}}"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1820,
                            "y": 291,
                            "name": "Create Full Interview Link"
                        },
                        "restore": {
                            "expect": {
                                "scope": {
                                    "label": "One cycle"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "scope",
                                "type": "select",
                                "label": "Variable lifetime",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "roundtrip",
                                        "execution"
                                    ]
                                }
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "interface": [
                            {
                                "name": "cal_link",
                                "type": "any",
                                "label": "cal_link"
                            }
                        ]
                    }
                },
                {
                    "id": 41,
                    "module": "util:SetVariable2",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "name": "disc_link",
                        "scope": "roundtrip",
                        "value": "https://www.tonyrobbins.com/disc"
                    },
                    "metadata": {
                        "designer": {
                            "x": 2103,
                            "y": 293,
                            "name": "DISC Assessment Link"
                        },
                        "restore": {
                            "expect": {
                                "scope": {
                                    "label": "One cycle"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "scope",
                                "type": "select",
                                "label": "Variable lifetime",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "roundtrip",
                                        "execution"
                                    ]
                                }
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "interface": [
                            {
                                "name": "disc_link",
                                "type": "any",
                                "label": "disc_link"
                            }
                        ]
                    }
                },
                {
                    "id": 46,
                    "module": "airtable:ActionSearchRecords",
                    "version": 3,
                    "parameters": {
                        "__IMTCONN__": 1129955
                    },
                    "mapper": {
                        "base": "appZ4QT8rXFlX6LrZ",
                        "table": "tbl4ldFExsS5hWR3L",
                        "fields": [
                            "Personalised DISC Form Link"
                        ],
                        "formula": "{Email}=\"{{8.email}}\"",
                        "maxRecords": "1",
                        "useColumnId": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 2416,
                            "y": 291,
                            "name": "Get Personalised DISC Form Link"
                        },
                        "restore": {
                            "expect": {
                                "base": {
                                    "mode": "chose",
                                    "label": "Application Tracking System"
                                },
                                "sort": {
                                    "mode": "chose"
                                },
                                "view": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "table": {
                                    "mode": "chose",
                                    "label": "Applicants"
                                },
                                "fields": {
                                    "mode": "chose",
                                    "label": [
                                        "Personalised DISC Form Link"
                                    ]
                                },
                                "useColumnId": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "airtable2"
                                    },
                                    "label": "Smile Cliniq - ATS"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:airtable3,airtable2",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "base",
                                "type": "select",
                                "label": "Base",
                                "required": true
                            },
                            {
                                "name": "useColumnId",
                                "type": "boolean",
                                "label": "Use Column ID",
                                "required": true
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "formula",
                                "type": "text",
                                "label": "Formula"
                            },
                            {
                                "name": "maxRecords",
                                "type": "integer",
                                "label": "Limit"
                            },
                            {
                                "name": "sort",
                                "spec": [
                                    {
                                        "name": "field",
                                        "type": "select",
                                        "label": "Field",
                                        "dynamic": true,
                                        "options": []
                                    },
                                    {
                                        "name": "direction",
                                        "type": "select",
                                        "label": "Direction",
                                        "options": [
                                            {
                                                "label": "Descending",
                                                "value": "desc"
                                            },
                                            {
                                                "label": "Ascending",
                                                "value": "asc"
                                            }
                                        ]
                                    }
                                ],
                                "type": "array",
                                "label": "Sort"
                            },
                            {
                                "name": "view",
                                "type": "select",
                                "label": "View"
                            },
                            {
                                "name": "fields",
                                "type": "select",
                                "label": "Output Fields",
                                "multiple": true
                            }
                        ],
                        "interface": [
                            {
                                "name": "__IMTLENGTH__",
                                "type": "uinteger",
                                "label": "Total number of bundles"
                            },
                            {
                                "name": "__IMTINDEX__",
                                "type": "uinteger",
                                "label": "Bundle order position"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "createdTime",
                                "type": "date",
                                "label": "Created Time"
                            },
                            {
                                "name": "Personalised DISC Form Link",
                                "type": "text",
                                "label": "Personalised DISC Form Link"
                            }
                        ]
                    }
                },
                {
                    "id": 6,
                    "module": "email:ActionSendEmail",
                    "version": 7,
                    "parameters": {
                        "account": 1545323,
                        "saveAfterSent": false
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "{{8.email}}"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "<!DOCTYPE html>\n<html>\n   <head>\n      <meta charset=\"utf-8\">\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n      <title>Interview Invitation</title>\n      <style type=\"text/css\">\n         /* Reset styles for email clients */\n         body, p {\n         margin: 0;\n         padding: 0;\n         font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;\n         line-height: 1.6;\n         }\n         /* Container styles */\n         .container {\n         width: 100%;\n         max-width: 600px;\n         margin: 0 auto;\n         background-color: #ffffff;\n         padding: 40px 20px;\n         }\n         .content {\n         background-color: #ffffff;\n         border-radius: 8px;\n         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);\n         padding: 32px;\n         border: 1px solid #e5e7eb;\n         }\n         /* Typography */\n         p {\n         color: #374151;\n         font-size: 16px;\n         margin-bottom: 16px;\n         }\n         .greeting {\n         font-size: 18px;\n         font-weight: 600;\n         color: #111827;\n         margin-bottom: 24px;\n         }\n         .highlight {\n         color: #111827;\n         font-weight: 600;\n         }\n         /* Steps styling */\n         .step {\n         margin: 32px 0;\n         padding: 24px;\n         background-color: #f8fafc;\n         border-radius: 8px;\n         border: 1px solid #e5e7eb;\n         }\n         .step-number {\n         display: inline-block;\n         width: 24px;\n         height: 24px;\n         background-color: #0066FF;\n         color: white;\n         border-radius: 50%;\n         text-align: center;\n         font-weight: bold;\n         margin-right: 8px;\n         line-height: 24px;\n         font-size: 14px;\n         }\n         .step-title {\n         font-size: 16px;\n         font-weight: 600;\n         color: #111827;\n         margin-bottom: 16px;\n         display: flex;\n         align-items: center;\n         }\n         /* Button styles */\n         .button {\n         display: inline-block;\n         padding: 12px 24px;\n         background-color: #0066FF;\n         color: #ffffff !important;\n         text-decoration: none;\n         border-radius: 6px;\n         font-weight: 600;\n         margin-top: 16px;\n         box-shadow: 0 2px 4px rgba(0, 102, 255, 0.1);\n         }\n         .button:hover {\n         background-color: #0052CC;\n         }\n         .button-secondary {\n         background-color: #6B7280;\n         }\n         .button-secondary:hover {\n         background-color: #4B5563;\n         }\n         /* Footer styles */\n         .footer {\n         text-align: center;\n         padding-top: 32px;\n         margin-top: 32px;\n         border-top: 1px solid #e5e7eb;\n         }\n         .footer p {\n         color: #6B7280;\n         font-size: 14px;\n         }\n         .signature {\n         margin: 24px 0;\n         }\n         /* Location badge */\n         .location-badge {\n         display: inline-block;\n         background-color: #f3f4f6;\n         padding: 8px 16px;\n         border-radius: 4px;\n         margin: 8px 0;\n         }\n         /* Responsive design */\n         @media screen and (max-width: 600px) {\n         .container {\n         padding: 20px 16px;\n         }\n         .content {\n         padding: 24px 16px;\n         }\n         .step {\n         padding: 16px;\n         }\n         }\n      </style>\n   </head>\n   <body style=\"background-color: #f3f4f6; margin: 0; padding: 0;\">\n      <div class=\"container\">\n         <div class=\"content\">\n            <p class=\"greeting\">Hi {{8.name}},</p>\n            <p>Thank you for your recent application. We are pleased to invite you to an interview with us.</p>\n            <div class=\"location-badge\">\n               <span class=\"highlight\">Location: {{8.location}}</span>\n            </div>\n            <p>Please complete the following steps to proceed with your interview:</p>\n            <div class=\"step\">\n               <div class=\"step-title\">\n                  <span class=\"step-number\">1</span>\n                  Complete DISC Assessment\n               </div>\n               <p>First, take our brief DISC assessment. This helps us understand your working style and tailor our discussion accordingly.</p>\n               <a href=\"{{41.disc_link}}\" class=\"button\">Start DISC Assessment</a>\n            </div>\n            <div class=\"step\">\n               <div class=\"step-title\">\n                  <span class=\"step-number\">2</span>\n                  Upload Assessment Results\n               </div>\n               <p>Once you've completed the assessment, upload your PDF results here.</p>\n               <a href=\"{{46.`Personalised DISC Form Link`}}\" class=\"button button-secondary\">Upload DISC PDF</a>\n            </div>\n            <div class=\"step\">\n               <div class=\"step-title\">\n                  <span class=\"step-number\">3</span>\n                  Schedule Your Interview\n               </div>\n               <p>After uploading your results, choose an interview time that works best for you.</p>\n               <a href=\"{{5.cal_link}}\" class=\"button button-secondary\">Schedule Interview</a>\n            </div>\n            <p>We look forward to meeting you and learning more about your potential contribution to our team!</p>\n            <div class=\"signature\">\n               <p>Kind Regards,</p>\n               <p class=\"highlight\">Smile Cliniq Hiring Team</p>\n            </div>\n            <div class=\"footer\">\n               <p>Smile Cliniq</p>\n            </div>\n         </div>\n      </div>\n   </body>\n</html>",
                        "sender": "",
                        "headers": [],
                        "replyTo": "",
                        "subject": "Applicantion Update - Smile Cliniq",
                        "priority": "normal",
                        "inReplyTo": "",
                        "references": [],
                        "attachments": [],
                        "contentType": "html"
                    },
                    "metadata": {
                        "designer": {
                            "x": 2737,
                            "y": 291,
                            "name": "Send Interview Invite"
                        },
                        "restore": {
                            "expect": {
                                "cc": {
                                    "mode": "chose"
                                },
                                "to": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "bcc": {
                                    "mode": "chose"
                                },
                                "priority": {
                                    "label": "Normal"
                                },
                                "references": {
                                    "mode": "chose"
                                },
                                "attachments": {
                                    "mode": "chose"
                                },
                                "contentType": {
                                    "label": "HTML"
                                }
                            },
                            "parameters": {
                                "account": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google-restricted"
                                    },
                                    "label": "Recruitment (recruitment@smilecliniq.com)"
                                },
                                "saveAfterSent": {
                                    "label": "No"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                "label": "Connection",
                                "required": true
                            },
                            {
                                "name": "saveAfterSent",
                                "type": "select",
                                "label": "Save message after sending",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        true,
                                        false
                                    ]
                                }
                            },
                            {
                                "type": "hidden"
                            }
                        ],
                        "expect": [
                            {
                                "name": "to",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Content Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "html",
                                        "text"
                                    ]
                                }
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient"
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient"
                            },
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "sender",
                                "type": "text",
                                "label": "Sender"
                            },
                            {
                                "name": "replyTo",
                                "type": "text",
                                "label": "Reply-To"
                            },
                            {
                                "name": "inReplyTo",
                                "type": "text",
                                "label": "In-Reply-To"
                            },
                            {
                                "name": "references",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Reference",
                                    "required": true
                                },
                                "type": "array",
                                "label": "References"
                            },
                            {
                                "name": "priority",
                                "type": "select",
                                "label": "Priority",
                                "validate": {
                                    "enum": [
                                        "high",
                                        "normal",
                                        "low"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "spec": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 17,
                            "module": "builtin:Break",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "count": "1",
                                "retry": true,
                                "interval": "15"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3040,
                                    "y": 287
                                },
                                "restore": {
                                    "expect": {
                                        "retry": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "retry",
                                        "type": "boolean",
                                        "label": "Automatically complete execution",
                                        "required": true
                                    },
                                    {
                                        "name": "count",
                                        "type": "uinteger",
                                        "label": "Number of attempts",
                                        "required": true,
                                        "validate": {
                                            "max": 10000,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "interval",
                                        "type": "uinteger",
                                        "label": "Interval between attempts",
                                        "required": true,
                                        "validate": {
                                            "max": 44640,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1
    }
}